@use "variables";
@use "mixin";

.header {
  @include mixin.flex(row, space-between, center, null, null);
  width: 100%;
  height: 60px;
  padding: 0 20px;
}

.header_logo {
  @include mixin.flex(row, flex-start, center, null, null);
}

.header_logo_img {
  width: 40px;
  height: auto;
}

.header_title {
  font-family: variables.$logoFont;
  > .brand {
    color: variables.$brand01;
  }
}

.header_right_wrapper {
  @include mixin.flex(row, flex-end, center, 12px, null);
}

.header_profile_button {
  @include mixin.flex(row, space-between, center, 0, null);

  > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}
