@use "reset";
@use "variables";
@use "mixin";

html,
body {
  font-family: variables.$defaultFont;
}

body.light {
  background-color: white;
  color: #000;
}

body.dark {
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: variables.$fh1;
  font-weight: 600;

  * {
    font-size: variables.$fh1;
    font-weight: 600;
  }
}

h2 {
  font-size: variables.$fh2;
  font-weight: 600;

  * {
    font-size: variables.$fh2;
    font-weight: 600;
  }
}

h3 {
  font-size: variables.$fh3;
  font-weight: 500;

  * {
    font-size: variables.$fh3;
    font-weight: 600;
  }
}

h4 {
  font-size: variables.$fxl;
  font-weight: 500;

  * {
    font-size: variables.$fxl;
    font-weight: 600;
  }
}

h5 {
  font-size: variables.$fl;
  font-weight: 500;

  * {
    font-size: variables.$fl;
    font-weight: 600;
  }
}

strong {
  color: variables.$brand01;
}
