@use "variables";
@use "mixin";

.header_profile_dropdown {
  position: relative;
}

.header_profile_button {
  @include mixin.flex(row, space-between, center, 0, null);

  > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

.header_profile_dropdown_content {
  width: 10rem;
  padding: 2px;
  background-color: variables.$backdropWhite;
  position: absolute;
  top: 35px;
  right: 0;
  border-radius: 4px;
  z-index: variables.$ziDropdown;
  overflow: hidden;
}

.header_profile_dropdown_content_item {
  width: 100%;
  height: 32px;
  font-size: variables.$fn;

  &:hover {
    color: variables.$brand01;
    transition: color 0.15s ease-in-out;
  }
}
