@use "variables";
@use "mixin";

.header_profile_dropdown {
  position: relative;
}

.header_profile_button {
  @include mixin.flex(row, space-between, center, 0, null);

  > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.header_profile_dropdown_content {
  width: 10rem;
  padding: 2px;
  background-color: variables.$backdropWhite;
  position: absolute;
  top: 35px;
  right: 0;
  border-radius: 4px;
  z-index: variables.$ziDropdown;
  overflow: hidden;
}

.header_profile_dropdown_content_item {
  width: 100%;
  height: 32px;
  font-size: variables.$fn;

  // Link와 button 요소의 일관된 스타일링을 위한 추가 속성
  @include mixin.flex(row, center, center, 0, null);
  padding: 0 12px;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: variables.$brand01;
    transition: color 0.15s ease-in-out;
  }
}
