@use "variables";
@use "mixin";

.page_wrap {
  width: 100vw;
  height: calc(100vh - variables.$headerHeight);
  @include mixin.flex(column, center, center, 20px, null);
}

.loading_indicator_wrap {
  @include mixin.flex(column, center, center, null, null);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
