@use "variables";
@use "mixin";

.header {
  @include mixin.flex(row, space-between, center, null, null);
  width: 100%;
  height: 60px;
  padding: 0 20px;
}

.header_logo {
  @include mixin.flex(row, flex-start, center, null, null);
}

.header_logo_img {
  width: 40px;
  height: auto;
}

.header_title {
  font-family: variables.$logoFont;
  > .brand {
    color: variables.$brand01;
  }
}

.header_right_wrapper {
  @include mixin.flex(row, flex-end, center, 12px, null);
}

.header_profile_dropdown {
  position: relative;
}

.header_profile_button {
  @include mixin.flex(row, space-between, center, 0, null);

  > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

.header_profile_dropdown_content {
  width: 10rem;
  background-color: variables.$backdropWhite;
  position: absolute;
  top: 35px;
  right: 0;
  border-radius: 4px;
  z-index: variables.$ziDropdown;
  height: 0;
  overflow: hidden;
}

.header_profile_dropdown_content_item {
  width: 100%;
  height: 32px;
  font-size: variables.$fn;

  &:hover {
    color: variables.$brand01;
    transition: color 0.15s ease-in-out;
  }
}
