@use "variables";
@use "mixin";

.modal_overlay {
  z-index: variables.$ziModal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  @include mixin.flex(row, center, center, null, null);
}

.modal_wrap {
  max-width: 100vw;
  border-radius: 8px;
  background-color: variables.$black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
